@font-face {
    font-family: 'AudioWideRegular';
    src: url('../../assets/Audiowide-Regular.ttf');
}
.timer-container{
    font-family: 'AudioWideRegular';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em 0;
    align-items: center;
    gap: 2em;
    text-shadow: 0 0 10px #4b30fd, 0 0 20px #4b30fd, 0 0 40px #4b30fd, 0 0 80px #4b30fd, 0 0 120px #4b30fd;
}
.timer-container div{
    font-family: 'AudioWideRegular';
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 1.5em;
}
.timer-container div span{
    position: absolute;
    transform: translateX(-50%) translateY(-8px);
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
@media screen and (max-width:1250px){
    .timer-container{
        justify-content: center;
        gap: 2.5em;
    }
}
@media screen and (max-width:500px){
    .timer-container{
        row-gap: 2em;
        column-gap: 1.75em;
        justify-content: space-evenly;
    }
}

@media screen and (min-width : 1000px) {
    .timer-container{
        margin: 3.5em auto;
        width: 50%;
        justify-content: space-evenly;
    }
}