@font-face {
    font-family: 'AudioWideRegular';
    src: url('../../assets/Audiowide-Regular.ttf');
}
/* .home-container{
    position: relative;
    min-height: 90vh;
} */
.home-container{
    text-align: center;
}
.home-particles{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
}
/* .home-content{
    position: absolute;
    top:5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
} */
.home-content .rec-logo{
    width: 20vw;
}
.home-content h1{
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0.25rem;
    font-family: 'AudioWideRegular';
}

.home-content .rec-logo{
    width: 20vw;
}
.home-content h1{
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 0.25rem;
    font-family: 'AudioWideRegular';
}
.home-content p{
    font-size: 1.75rem;
    margin-bottom: 0em;
    font-style: normal;
}
.home-content .hackoverflow-logo{
    width: 50vw;
    height: 125px;
    object-fit: cover;
}
.register-btn{
    padding: 12px 30px;
    border: 1px solid white;
    color: transparent;
    max-width: fit-content;
    text-align: center;
    margin: 2rem auto;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.35em;
    background-color: transparent;
    box-shadow:  0 0 5px #b700ff,0 0 10px #b700ff,0 0 20px #b700ff,0 0 40px #b700ff;
    animation: see-more 2s linear infinite;
}

.prize
{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: .75rem;
    margin-top: 1.25rem;
}
.prize p
{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bolder;
}
.prize-card
{
    width: 20%;
    margin: 1.25rem;
    color: white;
    background-color: rgb(24, 22, 22);
    border-radius: 1.25rem;
    padding: 2%;
}
.prize img
{
    width: 100px;
    height: 100px;
}

.home-content{
    margin-top: 5%;
}
/* .prize-text{
    margin-top: 16px;
    text-shadow: 0 0 10px #4b30fd, 0 0 20px #4b30fd, 0 0 40px #4b30fd, 0 0 80px #4b30fd, 0 0 120px #4b30fd;
    animation: blink-text 1.5s linear infinite;
} */
p.small{
    font-size: 1rem;
}
.home-content p{
    font-family: 'AudioWideRegular';
}

/* check */

.text {
    fill: none;
    stroke-width: 3;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
    stroke: #f2385a;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
    stroke: #f5a503;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
    stroke: #e9f1df;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
    stroke: #56d9cd;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
    stroke: #3aa1bf;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}
@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -400;
   }
}
@keyframes stroke {
    100% {
        stroke-dashoffset: -400;
   }
}

/* check */

@media screen and (max-width:500px){
    .home-content h1{
        font-size: 1.5rem;
    }
}
@keyframes see-more {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes blink-text {
    0% {
     opacity: 1;
    }
    50% {
     opacity: 1;
    }
    100% {
     opacity: 1;
    }
}
@media screen and (max-width:1250px){
    /* .home-content{
        width: 94vw;
    } */
    .home-content h1{
        font-size: 1rem;
    }
    
}
@media screen and (max-width:1000px){
    .home-content .rec-logo{
        width: 32vw;
    }
}
@media screen and (max-width:800px){
    .home-content h1{
        font-size: 1rem;
    }
    
    /* .home-content p{
        font-size: 1.5rem;
    } */
    p.small{
        font-size: 0.75rem;
    }
    .home-content .hackoverflow-logo{
        height: 150px;
        width: 80vw;
    }
}
@media screen and (max-width:500px){
    .home-content .rec-logo{
        width: 50vw;
    }
    .home-content .hackoverflow-logo{
        width: 90vw;
    }
    .home-container{
        margin-top: 20%;
    }
}
@media screen and (max-width : 380px) {
    /* .home-container{
        min-height: 80vh;
    } */
}
@media screen and (min-width : 1000px) {
    .register-btn{
        margin: 4rem auto;
    }
    /* .home-container{
        min-height: 80vh;
    } */
}
@media screen and (max-width : 450px) {
    /* .home-container{
        min-height: 58vh;
    } */
}



.prize-text
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}